

/****************/
/* Import Fonts */
/****************/

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Roboto:wght@300;500&display=swap');

/*****************/
/* Standard Tags */
/*****************/

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

main {
  padding: 0 1em;
  padding-top: 140px;
  min-height: calc(91.5vh - 50px);
}

h1 {
  font-family: 'Dancing Script', cursive;
  font-size: 3.5em;
  text-align: center;
  margin: .25em 0 .25em 0;
}

h3, h5 {
  font-weight: 300;
}

button {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

/****************/
/* Landing Page */
/****************/

.home-master-container {
  background: url('../public/landing-page-background.jpeg');
  background-position: center;
  background-repeat: repeat;
  background-size: auto !important;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  flex: none;
  background-color: rgba(14, 13, 13, 0.85);
  width: 100vw;
  height: 100vh;
}

.vertical-center {
  width: 750px;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-65%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.vertical-center > * {
  color: white;
  width: 90vw;
  margin: 0;
}

.home-header {
  font-family: 'Dancing Script', cursive;
  font-weight: 600;
  font-size: 500%;
  text-align: center;
  text-shadow: 0px 0px 15px black;
  margin-bottom: .2em;
}

.home-descrip-container {
  display: flex;
  justify-content: center;
  height: max-content;
  margin: 2px 0 32px 0;
}

.home-descrip-container > * {
  font-size: 200%;
  font-weight: 300;
  text-align: center;
  text-shadow: 0px 0px 15px black;
  margin: 0;
}

.home-buttons-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-nav-button {
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  text-align: center;
  color: white;
  background-color: rgb(232, 100, 0);
  font-size: 135%;
  font-weight: 400;
  text-transform: uppercase;
  width: 165px;
  height: 20%;
  padding: .3em .85em;
  border: 1px solid rgb(216, 94, 0);
  border-radius: .5em;
  margin: 0 .4em;
  cursor: pointer;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.25);
}

.home-nav-button:hover {
  background-color: rgb(232, 135, 0);
  border: 1px solid rgb(213, 124, 0);
}

/**********/
/* Header */
/**********/

header {
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 95px;
  box-shadow: -1px 0px 8px 5px rgba(0, 0, 0, 0.4);
  z-index: 3;
}

.home-button {
  background-color: rgba(255, 255, 255, 0);
  color: rgb(245, 106, 0);
  font-weight: 600;
  font-family: 'Dancing Script', cursive;
  font-size: 3.5em;
  padding: 0;
  border: none;
  margin-left: 25px;
  cursor: pointer;
  transform: translateY(-4px);
}

.header-links {
  display: none;
  margin-right: 3vw;
}

.header-hamburger {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: rgb(232, 100, 0);
  width: 60px;
  height: 60px;
  border-radius: 10px;
  border: 1px solid white;
  margin-right: 25px;
  cursor: pointer
}

.header-hamburger:hover {
  background-color: rgb(232, 135, 0);
}

.more {
  background-color: white;
  width: 62%;
  height: 5px;
  border-radius: 1px;
  margin: 4px 0
}

.close1 {
  width: 72%;
  height: 5px;
  background-color: white;
  position: absolute;
  border-radius: 5px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
}

.close2 {
  position: relative;
  width: 72%;
  height: 6px;
  background-color: white;
  border-radius: 5px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.side-nav-menu {
  background-color: rgb(232, 100, 0);
  position: fixed;
  top: 0;
  right: 0;
  width: 300px;
  height: 100vh;
  padding: 105px 30px 0 0;
  z-index: -1 !important;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.2);
  user-select: none;
}

.side-nav-menu > .header-button {
  color: white !important;
  font-size: 1.9em !important;
  text-decoration: none;
  padding: 0;
  margin: .65em 0 .65em 0;
}

.side-nav-menu > .header-button:hover {
  color: rgb(255, 224, 180) !important;
}

.hamburger-divider {
  background-color: white;
  width: 76%;
  height: 1px;
  margin: 0;
}

.header-button {
  background-color: rgba(255, 255, 255, 0);
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  border: none;
  cursor: pointer;
}

.header-button:hover {
  color: rgb(255, 241, 222) !important;
}

/**********/
/* Footer */
/**********/

footer {
  font-family: 'Roboto', sans-serif;
  width: 100%;
  height: 60px;
  padding: 1em 0 .75em 0;
  margin: 52px 0 0 0;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px -4px 5px rgba(0, 0, 0, 0.2);
}

.footer-text { 
  margin-bottom: .4em;
}

.footer-script {
  color: rgb(245, 106, 0);
  font-size: 1.65em;
  font-family: 'Dancing Script', cursive;
  margin: 0 .05em 0 .2em;
}

/******************/
/* My Pantry Page */
/******************/

.line {
  background-color: black;
  height: 1px;
  width: 100%;
}

.page-buttons-container {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 1.75em 0 1.5em .5em;
}

.add-new-button {
  background-color: rgb(255, 110, 0);
  color: white;
  font-weight: 400;
  font-size: 1.2em;
  text-transform: uppercase;
  height: 38px;
  border: none;
  border-radius: 6px;
  padding: .25em .5em;
  margin: 0 1em 16px .5em;
  cursor: pointer;
}

.add-new-button:hover {
  background-color: rgb(232, 135, 0);
}

.sort-form {
  width: 300px;
}

.sort-label {
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  background-color: rgb(255, 110, 0);
  color: white;
  border-style: none;
  text-transform: uppercase;
}

.pantry-items-container {
  width: 95%;
  margin: 1em auto 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  justify-content: center;
  align-items: center;
  grid-gap: 50px 75px;
}

.pantry-item-container {
  display: flex;
  flex-direction: column;
  height: 380px;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  border-bottom-left-radius: .5em;
  border-bottom-right-radius: .5em;
  box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.15);
}

.pantry-item-container > img {
  width: 100%;
  height: 200px;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  object-fit: cover;
  overflow: hidden;
}

.pantry-item-container > h3 {
  background-color: rgb(216, 94, 0);
  color: white;
  font-size: 1.5em !important;
  font-weight: 400;
  text-align: center;
  height: 42px;
  padding: .3em 0;
  margin: 0;
}

.pantry-description {
  background-color: rgb(253, 234, 210);
  text-align: center;
  width: 100%;
  height: 138px;
  padding: .5em .25em;
  border-bottom-left-radius: .5em;
  border-bottom-right-radius: .5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pantry-description > p {
  font-size: 1.2em;
  margin: .3em 0;
}

.pantry-buttons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: .6em;
  margin-bottom: 8px;
}

.pantry-buttons-container > button {
  background-color: rgb(255, 110, 0);
  color: white;
  font-weight: 400;
  font-size: 1.1em;
  text-transform: uppercase;
  width: 80px;
  border: none;
  border-radius: 6px;
  padding: .25em .5em;
  margin: 0 .5em;
  cursor: pointer;
}

.pantry-buttons-container > button:hover {
  background-color: rgb(232, 135, 0);
}

/*******************/
/* My Recipes Page */
/*******************/

.bold {
  font-weight: 400;
}

.recipes-container {
  width: 95%;
  margin: 1.75em auto 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, 450px);
  justify-content: center;
  grid-gap: 50px 75px;
  text-transform: capitalize;
}

.recipe-container {
  position: relative;
  background-color: rgb(253, 234, 210);
  display: flex;
  flex-direction: column;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  border-bottom-left-radius: .5em;
  border-bottom-right-radius: .5em;
  box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.15);
}

.recipe-container > a, .recipe-image {
  width: 100%;
  height: 200px;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  object-fit: cover;
  overflow: hidden;
}

.recipe-container > h3 {
  background-color: rgb(216, 94, 0);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em !important;
  font-weight: 400;
  text-align: center;
  height: 3em;
  padding: .35em .5em;
  margin: 0;
}

.recipe-description {
  background-color: rgb(253, 234, 210);
  text-align: center;
  width: 100%;
  padding: .5em 1em;
  border-bottom-left-radius: .5em;
  border-bottom-right-radius: .5em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.recipe-description > p {
  text-align: left;
  font-size: 1.2em;
  margin: .25em 0;
}

.recipe-buttons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: .5em 0;
}

.recipe-buttons-container > button, .add-recipe-buttons-container > button {
  background-color: rgb(255, 110, 0);
  color: white;
  font-weight: 400;
  font-size: 1.1em;
  text-transform: uppercase;
  border: none;
  border-radius: 6px;
  padding: .25em .5em;
  margin: 0 .5em;
  cursor: pointer;
}

.recipe-buttons-container > button:hover, .add-recipe-buttons-container > button:hover {
  background-color: rgb(232, 135, 0);
}

/********************/
/* Add Recipes Page */
/********************/

.add-recipes-container {
  width: 95%;
  margin: 3em auto 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, 450px);
  justify-content: center;
  grid-gap: 50px 75px;
  text-transform: capitalize;
}

.add-recipe-container {
  display: flex;
  flex-direction: column;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  border-bottom-left-radius: .5em;
  border-bottom-right-radius: .5em;
  box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.15);
}

.add-recipe-description {
  background-color: rgb(253, 234, 210);
  text-align: center;
  width: 100%;
  padding: .5em 1em;
  border-bottom-left-radius: .5em;
  border-bottom-right-radius: .5em;
  margin-bottom: 45px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.add-recipe-p-container > p {
  text-align: left;
  font-size: 1.2em;
  margin: .25em 0;
}

.ingredients-p {
  text-transform: capitalize;
}

.add-recipe-buttons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 1em 0;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
  bottom: 0;
}

.clicked-recipe-button {
  background-color: rgb(242, 164, 54) !important;
  cursor: auto !important;
}

.switch-page-buttons-container {
  width: 100%;
  padding: 1em 0 0 0;
  margin-top: 2.5em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.switch-page-buttons-container > button {
  background-color: rgb(255, 110, 0);
  color: white;
  font-weight: 400;
  font-size: 1.5em;
  text-transform: uppercase;
  width: max-content;
  padding: .3em .5em;
  border: none;
  border-radius: 6px;
  margin: 0 .65em;
  cursor: pointer;
}

.switch-page-buttons-container > button:hover {
  background-color: rgb(232, 135, 0);
}

/***********/
/* Pop-Ups */
/***********/

.popup-overlay {
  background-color: rgba(121, 121, 121, 0.5);
  position: fixed; 
  top: 0; right: 0; bottom: 0; left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  z-index: 4;
}

.popup-container {
  box-sizing: border-box;
  background-color: rgba(255, 255, 255);
  text-align: left;
  width: 525px;
  height: 342px;
  padding: 1.35em 1.6em 1.5em 1.6em;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2);
  z-index: 6;
  overflow-y: auto;
}

.delete-container {
  height: 215px;
}

.edit-container {
  height: 332px;
}

.popup-header {
  height: 30px;
  margin-bottom: .6em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.delete-form-header {
  font-size: 1.4em;
  text-align: center;
  width: 85%;
  margin: .8em auto .75em auto;
}

.delete-item-name {
  font-weight: 400;
}

.close-popup-button {
  background-color: rgb(180, 180, 180);
  width: 30px;
  height: 30px;
  padding: 0;
  border-style: none;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.close-popup-button:hover {
  background-color: rgb(160, 160, 160);
}

.popup-form > * {
  margin: .6em 0;
}

.popup-search-container {
  display: flex;
  align-items: center;
  margin-bottom: 0;
}

.popup-search {
  width: 91%;
  height: 25px;
  padding: .1em 0 .1em .5em;
  margin-right: 1%;
  margin-bottom: 1em;
}

.popup-search-button {
  background-color: rgb(255, 110, 0);
  width: 6%;
  height: 26px;
  border: none;
  border-radius: 4px;
  margin-bottom: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.popup-search-button:hover {
  background-color: rgb(232, 135, 0);
}

.popup-input {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 1em;
  width: 97%;
  height: 26px;
  padding: .1em 0 .1em .35em;
  margin-bottom: 1em;
}

.food-option-button {
  background-color: rgb(238, 238, 238);
  text-align: left;
  font-size: 1em;
  width: 98%;
  padding: .25em .5em;
  border: none;
  border-radius: 2px;
  margin: .25em 0;
  cursor: pointer;
}

.food-option-button:last-of-type {
  margin-bottom: 1em;
}

.food-option-button:hover {
  background-color: rgb(222, 222, 222);
}

.popup-selected-name {
  background-color: rgb(160, 160, 160);
  color: white;
  font-size: .9em;
  width: 98%;
  height: 30px;
  padding: .65em .25em .65em .6em;
  margin-top: 1.4em;
  margin-bottom: .85em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.popup-selected-name > h3 {
  font-weight: 400;
}

.popup-selected-name > svg {
  cursor: pointer;
}

.edit-name {
  width: 97%;
  height: 32px;
  margin-top: 1.5em;
  margin-bottom: 1em;
}

.edit-name > h3 {
  font-size: 1.3em;
}

.popup-submit-button {
  font-size: .9em;
  font-weight: 400;
  text-transform: uppercase;
  background-color: rgb(255, 110, 0);
  color: white;
  padding: .5em .75em;
  border-style: none;
  border-radius: 5px;
  cursor: pointer;
}

.popup-submit-button:hover {
  background-color: rgb(232, 135, 0);
}

.delete-form {
  display: flex;
  justify-content: center;
}

.delete-form > * {
  width: 50px;
  margin: .5em 1em;
}

/*****************/
/* Media Queries */
/*****************/

/* For mobile phones and tablets: */
@media only screen and (max-width: 900px) {
  h1 {
    font-size: 3em;
  }

  .home-master-container {
    overflow: hidden;
  }

  .home-nav-button {
    font-size: 115%;
    width: 140px;
    height: 20%;
  }

  .popup-container {
    width: 350px;
  }

  .recipes-container, .add-recipes-container {
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: repeat(auto-fill, 320px);
  }

  .recipe-container > h3, .add-recipes-container > h3 {
    font-size: 1.25em !important;
    height: 3.75em;
  }
}